export DOCKER_REGISTRY=containers.cisco.com
export DOCKER_TAG=0.9.0
export MVN_ARGS="-DskipTests"
export JAVA_HOME="/Library/Java/JavaVirtualMachines/jdk1.8.0_202.jdk/Contents/Home"
export PATH=$HOME/.minishift/cache/oc/v3.11.0/darwin:$PATH

